
.welcome{
    border-radius: 30px;
    background-color: white;
    width: 60%;
    margin: auto;
    height: 600px;
}

.button-icon-cabinet{
    background-image: url("Resourses/WhiteIcoSign.svg");
    background-color: forestgreen;
    border: none;
    border-radius: 7px;
    background-position: center;
    width: 85px;
    height: 45px;
    padding: 0 1rem;
    transition: 0.2s linear;
    margin-left: 10%;
}
.button-icon-cabinet:hover{
    background-image: url("Resourses/GreenIcoSign.svg");
    background-color: greenyellow;
}

.button-home{
    background-image: url("Resourses/money-tree-picture.svg");
    background-position: left center;
    background-repeat: no-repeat;
    width: 10%;
    height: 80%;
    display: flex;
    margin-top: auto;
    margin-left: -23%;
    margin-bottom: auto;
    padding-left: 7%;
}


.HatMenu{
    display: flex;
    margin-left: 450px;
    margin-top: 17px;
}

.HatName{
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 400px;
}
.MenuNames{
    background-color: forestgreen;
    color: white;

    border: none;
    text-align: center;
    padding: 0 1rem;
    font-size: 20px;
    height: 15px;
    transition: 0.2s linear;

}
.MenuNames:hover{
    height: 100%;
    background-color: greenyellow;
    color: forestgreen;
}
.info{
    height: 20000px;
    width: 40%;
    border-radius: 20px;
    background: aliceblue;
    margin-left: 5%;
    display: inline-block;
}
.graph{
    height: 600px;
    width: 50%;
    border-radius: 20px;
    background: aliceblue;
    margin-right: 1%;
    float:right
}
.hat{
    display: flex;
    position: sticky;
    top: 0;
    background-color: forestgreen;
    width: 100%;
    margin-top: auto;
    height: 60px;
}